/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" 400;
  font-weight: var(--font-weight-normal);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

@media (width <= 376px) {
  .page {
    inline-size: 100%;
    min-block-size: 100dvb;
  }

  .header {
    min-width: 100vw;
    object-fit: contain;
  }

  .card__header {
    padding: 6px 10px;
  }

  .card__image-label {
    inset: 25px 12px auto auto;
  }

  .card__text-wrap {
    margin: 24px 26px 24px;
  }

  .button-save {
    flex-direction: column;
  }

  .button-save__icon {
    width: 30px;
  }

  .modal {
    padding: 30px 40px;
  }

  .modal[open] {
    gap: 30px;
  }

  .modal__icon {
    width: 95px;
  }
}

.header {
  inline-size: clamp(375px, 100%, 700px);
  margin: 100px auto;
  font-family: var(--accent-font), sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: clamp(7.5rem, 6.9231rem + 2.4615vw, 8rem) 0;
  background-color: var(--main-theme-color);
  border: 2px solid currentColor;
}

.header__logo {
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  line-height: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-decoration: none;
}

.header__name {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(375px, 100%, 700px);
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid var(--accent-color);
  font-size: 18px;
  line-height: 1.16667;
  background-color: var(--main-theme-color);
  margin-block-end: 50px;
}

.card__header {
  width: 100%;
  border-block-end: inherit;
  font: inherit;
  font-variation-settings: "wght" var(--font-weight-bold);
  padding: 5px 10px;
}

.card__image-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  aspect-ratio: 1;
}

.card__image-label {
  position: absolute;
  inset: 25px 25px auto auto;
  z-index: 1;
  opacity: 50%;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 14px;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--main-theme-color), 0 1px var(--main-theme-color),
    1px 0 var(--main-theme-color), 0 -1px var(--main-theme-color);
}

@supports (text-stroke: 0.5px var(--main-theme-color)) or
  (-webkit-text-stroke: 0.5px var(--main-theme-color)) {
  .card__image-label {
    text-stroke: 0.5px var(--main-theme-color);
    -webkit-text-stroke: 0.5px var(--main-theme-color);
    text-shadow: none;
  }
}

.card__image-picture {
  object-fit: cover;
  object-position: right;
  block-size: 100%;
}

.card__text-wrap {
  display: flex;
  flex-direction: column;
  gap: 27px;
  font: inherit;
  font-variation-settings: "wght" var(--font-weight-normal);
  margin: 27px 25px 25px;
}

.card__buttons-wrap {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin: 0 25px 25px;
}

.card__icon-button {
  block-size: 38px;
  border: 2px solid transparent;
  background-color: var(--main-theme-color);
  cursor: pointer;
  transition: border-color var(--animation-time) ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  outline: none;
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
  border: 2px solid var(--accent-color);
  background-color: inherit;
  color: var(--main-theme-color);
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  overflow: hidden;
  background-color: var(--main-theme-color);
  color: var(--main-theme-color);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  transition: box-shadow var(--animation-time);
}

.button-save {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-block-end: 105px;
  padding: 15px 20px;
}

.button-save__icon {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}

.button__text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
}

.modal {
  padding: 30px;
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--main-theme-color);
}

.modal[open] {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.modal__content-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__icon {
  width: 39px;
}

.modal__text {
  max-width: 234px;
  text-transform: uppercase;
}

.modal__button {
  width: 100%;
  padding: 10px 0;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transform-origin: left;
  transition: translate 0.5s ease-in-out;
  translate: -100%;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.button:hover:before {
  translate: 0%;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.filter__clean-list {
  filter: sepia(0.7) invert(1);
}

.filter__css-begin {
  filter: saturate(6.8);
}

.filter__css-perfecto {
  filter: contrast(5.8) saturate(1.5);
}

.filter__support-all {
  filter: blur(1.9px) hue-rotate(-9deg);
}

.filter__different {
  filter: grayscale(0.9);
}

.filter__concentration {
  filter: sepia(2.7) contrast(7);
}

.filter__result {
  filter: brightness(0.8) sepia(0.7) invert(1);
}
