/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /*--animation-time: 0.3s;*/
  
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --bg-image: url(../images/background.png);
    --accent-color: #000;
  
    --animation-time: 0.3s;

    -main-bg: repeating-linear-gradient(var(--main-theme-color) 0 2px, transparent 2px 4px),
      repeating-linear-gradient(90deg, var(--main-theme-color) 0 2px, transparent 2px 4px),
      linear-gradient(180deg, #007f0c 0%, #004306 100%);
    --main-theme-color: #fff;
  }